
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/articles" class="current">Articles</a>
    <a href="/talks">Talks</a>
    <a href="/projects">Projects</a>
  </nav>
  <div class="socials">
    <a class="icon-button" href="https://github.com/EndangeredMassa/">
      {{svg-jar 'icon-github' width='22px'}}
    </a>
    <a class="icon-button" href="https://social.massalabs.com/@sean">
      {{svg-jar 'icon-mastodon' width='22px'}}
    </a>
  </div>
  <h1>Articles</h1>
  <p>Sean writes about tech, organizations, ethics, and games.</p>
</header>
<main>
  {{outlet}}

  <div class="blog-item">
    <a class="post-link" href="/introducing-simple-classes">Introducing Simple Classes</a>
    <p class="meta"><i>We have introduced a couple of Simple Classes to make your life easier.</i></p>
    <p class="meta">14 Mar 2023</p>
  </div>

  <div class="blog-item">
    <a class="post-link" href="/new-maintainer">Help Wanted</a>
    <p class="meta"><i>I'm looking for help with Simple.css - are you interested?</i></p>
    <p class="meta">11 Jul 2022</p>
  </div>

  <div class="blog-item">
    <a class="post-link" href="/simple-css-version-2">Introducing Simple.css Version 2 🎉</a>
    <p class="meta"><i>I've been hacking on Simple.css recently, and all the changes have accumulated into a new major version. Say hello to Simple.css version 2.</i></p>
    <p class="meta">17 Jan 2022</p>
  </div>

  <div class="blog-item">
    <a class="post-link" href="/hello-world">Hello World!</a>
    <p class="meta"><i>This is the first post in our brand new blog! Here's some info on why this thing exists.</i></p>
    <p class="meta">16 Jan 2022</p>
  </div>
</main>

<footer>
  <p>Thanks to <a href="https://kevquirk.com">Kev Quirk</a> for making Simple.css, which this site is based on.</p>
</footer>
