<header>
  <nav>
    <LinkTo @route="index">Home</LinkTo>
    <LinkTo @route="articles">Articles</LinkTo>
    <LinkTo @route="talks">Talks</LinkTo>
    <LinkTo @route="projects">Projects</LinkTo>
  </nav>
  <div class="socials">
    <a class="icon-button" href="https://github.com/EndangeredMassa/">
      {{svg-jar 'icon-github' width='22px'}}
    </a>
    <a class="icon-button" href="https://social.massalabs.com/@sean">
      {{svg-jar 'icon-mastodon' width='22px'}}
    </a>
  </div>
  <h1>Articles</h1>
  <p>Sean writes about tech, organizations, ethics, and games.</p>
</header>

<main>
  {{outlet}}
</main>

<footer>
  <p>Thanks to <a href="https://kevquirk.com">Kev Quirk</a> for making <a href="https://simplecss.org/">Simple.css</a>, which this site is based on.</p>
</footer>
